<div id="<%= dom_id daily_numerology %>">
  <p>
    <strong>Birth date:</strong>
    <%= daily_numerology.birth_date %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= daily_numerology.color %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= daily_numerology.number %>
  </p>

  <p>
    <strong>Gem:</strong>
    <%= daily_numerology.gem %>
  </p>

  <p>
    <strong>Affirmation:</strong>
    <%= daily_numerology.affirmation %>
  </p>

  <p>
    <strong>Word:</strong>
    <%= daily_numerology.word %>
  </p>

</div>
