<%= form_with(model: daily_numerology, local: true) do |form| %>
  <% if daily_numerology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_numerology.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
        <% daily_numerology.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_field :birth_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

